html,
body {
  max-height: 100vh;
}

.left {
  float: left;
}
.right {
  float: right;
}

.pokemon-pagination {
  .MuiPaginationItem-root {
    color: #91804c;
  }
  .MuiPaginationItem-page.Mui-selected {
    background-color: #91804cad;
    color: #FFF;
  }
}

.main-component {
  .pokedex {
    background-color: #3B3E46;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;

    .pokemon-list {
      background-color: #2D2F36;
      border-radius: 8px 0px 0px 8px;
      padding: 30px 30px 60px 30px;
      max-height: 600px;
      overflow-y: scroll;

      .controls {
        background: #1F1F1F;
        position: absolute;
        width: 382px;
        background: #1F1F1F;
        bottom: 0;
        left: 0;
        height: 60px;
        padding: 15px;

        .MuiButton-textPrimary {
          color: #91814c;
        }
      }
    }

    .pokemon-card.active {
      background-color: #ffffff36;
    }

    .pokemon-card {
      background-color: #3F414B;
      border-radius: 6px;
      margin: 15px 0;
      height: 75px;
      
      .pokemon-recap {
        line-height: 2;
        margin-left: 20px;
        span {
          vertical-align: middle;
          vertical-align: -webkit-baseline-middle;
        }
        .pokemon-number {
          color: #F2C94C;
          margin-right: 20px;
        }
        .pokemon-name {
          color: #FFF;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #ffffff36;
      }
    }

    .pokemon-details {
      border-radius: 0;
      border: none;
      box-shadow: none;

      .MuiCardHeader-root {
        background: #3B3E46;
        border-bottom: 1.2px solid #ffffff08;
        .MuiCardHeader-title {
          color: #EDEDED;
          font-weight: 700;
        }
      }
      .MuiCardHeader-action {
        margin: 6px 0 0 0;
        color: #F2C94C !important;
        font-size: 18px;
        font-weight: bold;
      }

      .wrapper-details {
        display: flex;

        h6 {
          font-size: 17px;
          font-weight: bold;
          color: #f0c74c;

          svg {
            vertical-align: middle;
            font-size: 20px;
          }
          span {
            vertical-align: middle;
          }
        }

        .MuiChip-colorPrimary {
          margin-top: 30px;
          color: #fff;
          background-color: #91804c;
          width: 100%;
          font-size: 14px;
        }

        .pokemon-id-small {
          position: absolute;
          bottom: 0;
          color: #91814c;
        }

        .stats {
          border: 1px solid #91804c; 
          border-radius: 4px ;
          text-align: center;
          padding: 10px 0;
          
          .MuiTypography-overline {
            color: #91804c;
          }
          .MuiTypography-button {
            color: #f0c74c;
          }
          &:hover {
            background: #d1bf8714;
          }
        }

        .pokemon-stats {
          margin-top: 30px;
        }

        .MuiTable-root {
          margin-top: 50px;

          .MuiTableCell-body {
            color: #f5f4f4de;
            font-size: 15px;
          }
          .MuiTableCell-root {
            border-bottom: 1px solid #5d616a;
          }
        }
      }

      .pokemon-bio {
        background: #3B3E46;
        border-radius: 0;
        flex: 1 0 auto;
        max-height: 533px;
        height: 533px;
        border: none;
        overflow-y: scroll;
        color: #FFF;

        hr {
          border-color: #91814c4a;
        }
      }

      .MuiCardMedia-root {
        width: 350px;
        &:hover {
          cursor: pointer;
        }
      }
      
    }
  }
}

.pokemon-list::-webkit-scrollbar {
  width: 2px;
}
.pokemon-list::-webkit-scrollbar-track {
  background: #3F414B;
}

.pokemon-bio::-webkit-scrollbar {
  width: 2px;
}
.pokemon-bio::-webkit-scrollbar-track {
  background: #3B3E46;
}